<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet"/>

    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
    <title>WP-NoSQL & Big Data</title>
</head>
<body>
{% block body %}
<div class="wrapper">
    <div class="row">
        <dl class="accordion">
            <div class="acc-tab">
                <dt class="closed">Key Value Database</dt>
                <dd class="tab">
                    <form action="{{ url_for('show_postalcode') }}" method="get" class="showplz">
                        <p>City:<br/><br/>
                            <input placeholder="City" type="text" size="30" name="city"/>
                            <input type=submit value=Share/>
                        </p>
                    </form>
                    <form action="{{ url_for('show_city_and_state') }}" method="get" class="showcity">
                        <p>Postal Code:<br/><br/>
                            <input placeholder="Postal Code" type="text" size="30" name="postalcode"/>
                            <input type=submit value=Share/>
                        </p>
                    </form>
                </dd>
            </div>

            <div class="acc-tab">
                <dt class="closed">Mongo Database</dt>
                <dd class="tab">
                    <p>hallo welt</p>
                </dd>
            </div>

            <div class="acc-tab">
                <dt class="closed">Wide Column Database</dt>
                <dd class="tab">
                    <p>hallo welt</p>
                </dd>
            </div>
        </dl>
    </div>
    <div class="result-wrap">
        <div class="single-item result"><!-- Each result as foreach -->
            <ul>
                <ul class=entries>
                    {% for entry in entries %}
                    <li><h2>{{ entry }}</h2>
                    {% else %}
                    <li><em>Unbelievable. No entries here so far</em>
                    {% endfor %}
                </ul>
                <ul class=city>
                    <table style="width: 75%" border="true">
                        {% for entry in city %}
                        {% for k, v in entry.keys(), entry.values() %}
                        <tr>
                            <td> {{ k }}</td>
                            <td> {{ v }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                </ul>
                <ul class=postalcode>
                    <table style="width: 75%" border="true">
                        {% for entry in postalcode %}
                        {% for k in entry.keys() %}
                        <tr>
                            <td> {{ k }} </td>
                        </tr>
                        {% for v in entry.values() %}
                        {% for elem in v %}
                        <tr>
                            <td> {{ elem }} </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                        {% endfor %}
                    </table>
                </ul>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".accordion dt").click(function () { // trigger test
            $(this).next("dd").slideToggle("slow"); // blendet beim Klick auf "dt" die nächste "dd" ein.
            $(this).toggleClass("closed open"); // wechselt beim Klick auf "dt" die Klasse des enthaltenen a-Tags von "closed" zu "open".
        });
    });</script>
{% endblock %}
</body>
</html>